.main-section {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-section_menu {
  display: flex;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.main-section_item {
  max-width: 270px;
  min-height: 101px;

  & + & {
    margin-left: 30px;
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.main-section_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-section_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
}
