.title-section {
  display: flex;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/image-title.jpg);
}

.title-section__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title-section__button {
  max-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;

  &:hover,
  &:focus {
    outline: 1px solid var(--blue-text);

    transition: outline 250ms var(--timing-function);
  }
}
