.site-contacts {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 0 84px;
    padding-left: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

.site-contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.166;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover,
  &:focus {
    transition: color 250ms var(--timing-function);
  }

  &:focus {
    outline: 1px solid var(--blue-text);
  }
}

.site-contacts__item + .site-contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media (min-width: 1200px) {
    margin-left: 50px;
  }
}

.site-contacts__svg {
  margin-right: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
