.portfolio-cards__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-cards__item {
  width: 370px;
  min-height: 404px;

  @media (max-width: 767px) {
    min-width: 450px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8) {
      margin-left: 30px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 1200px) {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(9) {
      margin-left: 30px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 30px;
    }
  }

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
      0 4px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow 250ms var(--timing-function);
  }
}

.portfolio-cards__link {
  text-decoration: none;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
    opacity: 1;
  }
}
