.portfolio-buttons {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid rgb(236, 236, 236);

  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio-buttons__menu {
  max-width: 611px;
  min-height: 54px;
  margin: 0 auto 19px;
  padding-left: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__item {
  @media (max-width: 767px) {
    display: inline;
  }
}

.portfolio-buttons__btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  @media screen and (max-width: 767px) {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 15px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 var(--black-transparent);
    outline: none;

    transition: color 250ms var(--timing-function),
      background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
  }
}
